[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
pylint = "*"
pyflakes = "*"
flake8 = "*"
black = "*"
yapf = "*"
autopep8 = "*"
appdirs = "*"
astroid = "*"
attrs = "*"
click = "*"
iniconfig = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
mypy-extensions = "*"
nose = "*"
parameterized = "*"
pathspec = "*"
pluggy = "*"
py = "*"
pyparsing = "*"
pytest = "*"
regex = "*"
six = "*"
toml = "*"
typing-extensions = "*"
wrapt = "*"
Flask = "*"
atomicwrites = "*"
behave = "*"
certifi = "*"
chardet = "*"
colorama = "*"
glob2 = "*"
idna = "*"
mypy = "*"
parse = "*"
parse-type = "*"
requests = "*"
selenium = "*"
urllib3 = "*"
Mako = "*"
MarkupSafe = "*"
allure-pytest = "*"
pytest-xdist = "*"
#allure-behave = "*"
#allure-pytest-bdd = "*"

[dev-packages]
#nose = "*"
pytest = "*"

[requires]
python_version = "3.9"
