[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pycodestyle = "*"
pylint = "*"
pyflakes = "*"
flake8 = "*"
black = "*"
yapf = "*"
autopep8 = "*"

[dev-packages]

[requires]
python_version = "3.9"
